*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */
header .row{
    height: 80px;
    line-height: 80px;
}

header #logo{
    float: left;
    padding: 0 15px;
}

header #logo img{
    width: 200px;
    vertical-align: middle;
}

header .nav-menu{
    float: left;
}

header .nav-menu ul{
    text-align: center;
    font-size: 22px;
    padding: 0 15px;
}

header .nav-menu ul li{
    display: inline;
}

header .nav-menu ul li a{
    color: rgb(4, 14, 59);
    text-decoration: none;
    padding: 0 20px;
}

header .nav-menu.right{
    float: right;
}

header .jumbotron{
    background-color: #aacdf5;
}

.jumbotron #container-jumbotron{
    width: 90%;
    margin: auto;
}

.jumbotron h1{
    font-size: 100px;
}

.jumbotron .sottotitle{
    margin-top: 50px;
    font-size: 30px;
}

.jumbotron .sottotitle-text{
    width: 40%;
    float: left;
}
.jumbotron .sottotitle-text p{
    margin-bottom: 40px;
}

.jumbotron .sottotitle-text #special{
    margin-top: 20px;
    font-size: 18px;
}

.jumbotron .sottotitle-image{
    width: 60%;
    float: left;
}

.jumbotron .sottotitle-image img{
    width: 100%;
}

.fas.fa-arrow-down{
    color: #000;
    font-size: 50px;
}

.btn{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #4c4cf6;
}

.btn.bar{
    color: #fff;
    padding: 5px 20px;
}

.jumbotron .title .nav-title p{
    font-size: 20px;
    margin-top: 35px;
}
/* header */

/* hover */
nav ul a:hover{
    border-bottom: 4px solid #000;
}

.question .nascosto{
    display: none;
}

.question .question-item-text p:hover {
    display: none;
}

.question .nascosto:hover{
    display: block;
    border: 5px solid red;
}
/* hover */


/* main */
.container{
    width: 80%;
    margin: 100px auto;
    position: relative;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-size: 50px;
    font-weight: bold;
}

section #input{
    margin-top: 50px;
    font-size: 25px;
}

section .title-section span{
    padding-right: 20px;
}

section .blocco .content-sx{
    margin-top: 30px;
    padding-bottom: 300px;
    width: 30%;
    float: left;
    border: 1px solid gray;
}

section .blocco .content-top{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid gray;
}

.far, .fas{
    padding-right: 5px;
}

.blocco .content-title{
    margin: 30px 20px;
    font-size: 30px;
    font-weight: bold;
}

.blocco .content-title p{
    padding-top: 20px;
}

.content-title span{
    color: gray;
    font-size: 20px;
    padding-top: 15px;
}

.blocco .content-text{
    margin: 30px 20px;
    font-size: 18px;
}

.blocco .content-text p{
    padding: 10px 0;
}

.blocco .content-nav{
    text-align: center;
    padding: 30px 20px;
}

.blocco .content-nav p{
    font-size: 18px;
    margin-top: 40px;
    text-align: left;
}

.blocco .content-list ul{
    margin: 50px 20px;

    list-style-type: none;
}

.blocco .content-list ul li{
    margin: 20px 0;
    font-size: 25px;
}

.blocco .content-list .list-special{
    font-weight: bold;
}

.blocco .content-list ul a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.fas{
    color: blue;
    font-size: 15px;
}

section .blocco .content-center{
    margin: 30px 5%;
    width: 30%;
    padding-bottom: 300px;
    float: left;
    border: 1px solid gray;
}

.blocco .content-bottom{
    border: 1px solid gray;
}

.blocco .content-text-link{
    margin: 20px 1%;
    width: 99%;
    position: relative;
}

.blocco .content-text-link .botton{
    float: right;
    position: absolute;
    top: 0;
    right: 1%;
}

.blocco .content-text-link h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.blocco .content-text-link span{
    font-size: 20px;
    font-weight: bold;
}

.blocco .content-text-link p{
    font-size: 18px;
    margin: 20px 0;
}

/* sezione due */
section .block .image{
    width: 45%;
    float: left;
    margin-right: 5%;
}

section .block .image img{
    max-width: 100%;
    object-fit: cover;
}

section .block .text{
    width: 50%;
    float: left;
    margin-top: 50px;
}

.block .text p{
    font-size: 18px;
    margin: 30px 0;
}

.btn.white{
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #000;
}
/* sezione due */


/* sezione tre */
.contenitore:after{
    content: "";
    display: table;
    clear: both;
}

.contenitore{
    padding: 40px 0;
}

section .block-box .box-lati{
    width: 30%;
    float: left;
}

section .block-box img{
    max-width: 100%;
    object-fit: cover;
}

.block-box .contenitore h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.block-box .contenitore p{
    font-size: 18px;
}

section .block-box .box-center{
    width: 30%;
    margin: 0 5%;
    float: left;
}
/* sezione tre */


/* sezione quattro */
.container.sponsor{
    margin-bottom: 20px;
}

section .block-loghi{
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

section .block-loghi-text{
    width: 50%;
}

.block-loghi-text a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 25px;
    color: blue;
}

.block-loghi-text h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.block-loghi-item .col-lateral{
    float: left;
    width: 30vw;
    height: 30vh;
}

.block-loghi-item .col-lateral .item{
    float: left;
    height: 15vh;
    width: 50%;
    text-align: center;
    line-height: 15vh;
}

.block-loghi-item .col-lateral .item.green{
    background-color: lightgreen;
}

.block-loghi-item .col-lateral .item.fucsia{
    background-color: rgb(53, 3, 44);
}

.block-loghi-item .col-lateral .item.lightblue{
    background-color: rgb(15, 185, 236);
}

.block-loghi-item .col-lateral .item.red{
    background-color: rgb(224, 28, 28);
}

.block-loghi-item .col-lateral .item.cyan{
    background-color: rgb(160, 217, 231);
}

.block-loghi-item .col-lateral .item.blue{
    background-color: rgb(49, 7, 233);
}

.block-loghi-item .col-lateral .item.yellow{
    background-color: rgb(248, 233, 16);
}

.block-loghi-item .col-center{
    float: left;
    background-color: #ece4e4;
    width: calc(100% - 60vw);
    height: 30vh;
    overflow-y: auto;
    margin: 0;
}

.block-loghi-item .col-center-title{
    margin: 40px;
}

.block-loghi-item .col-center-title #special{
    height: 60px;
}

.block-loghi-item .col-lateral .item img{
    width: 100%;
    height: 100%;
    padding: 10%;
    filter: brightness(0) invert(1);
}

.block-loghi-item .col-center-title p{
    font-size: 20px;
    margin-top: 40px;
    padding-bottom: 30px;
}

/* sezione quattro */


/* sezione cinque */
section .block-sottologhi{
    width: 100%;
    background-color: #aacdf5;
    padding: 10px;
}

section .sottologhi-text{
    width: 80%;
    position: relative;
}

.btn.white.large{
    padding: 10px 50px;
}

section .sottologhi-text h2{
    width: 60%;
    color: #ab0a11;
}

section .sottologhi-text a{
    position: absolute;
    top: 0;
    right: 0;
}
/* sezione cinque */

/* sezione sei */
.question{
    border-bottom: 1px solid rgb(235, 228, 228);
}

section .question-item-text{
    padding: 30px 0;
    border-top: 1px solid rgb(235, 228, 228);

}

.question .question-title{
    font-size: 35px;
    margin-bottom: 50px;
}

.question .question-item-text p{
    font-size: 25px;
    font-weight: bold;
}

.question .question-item-text span{
    float: right;
}

.question .question-item-text .fas{
    font-size: 20px;
    color: #000;
}
/* sezione sei */

/* main */

/* footer */
footer .faq{
    height: 500px;
    background-color: black;
}

footer .faq .faq-table{
    width: 90%;
    margin: auto;
}

.faq .table-item{
    float: left;
    display: table-cell;
    width: 20%;
    margin-top: 50px;
    color: #fff;
}

.faq .table-item h3{
    font-size: 22px;
    margin-bottom: 40px;
}

.faq .table-item ul li{
    list-style-type: none;
    margin-top: 20px;
    font-size: 18px;
}

.faq .table-item ul li a{
    color: #fff;
    text-decoration: none;
}

.faq .language{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    color: gray;
    border-top: 1px solid gray;
}

.faq .language .fas{
    color: gray;
    margin-top: 30px;
    font-size: 20px;
}

/* footer */
