*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */

header .row{
    height: 80px;
    line-height: 80px;
}

header #logo{
    float: left;
    padding: 0 15px;
}

header #logo img{
    width: 200px;
    vertical-align: middle;
}

header .nav-menu{
    float: left;
}

header .nav-menu ul{
    text-align: center;
    font-size: 22px;
    padding: 0 15px;
}

header .nav-menu ul li{
    display: inline;
}

header .nav-menu ul li a{
    color: rgb(4, 14, 59);
    text-decoration: none;
    padding: 0 20px;
}

header .nav-menu.right{
    float: right;
}

header .jumbotron{
    height: 1000px;
    background-color: #a5cfff;
}

.jumbotron #title{
    width: 90%;
    padding-top: 100px;
    margin: auto;
}

.jumbotron #title h1{
    font-size: 110px;
}

.jumbotron #title .sottotitle{
    width: 50%;
    margin-top: 50px;
    font-size: 30px;
}

.jumbotron #title .nav-title{
    margin-top: 50px;   
}

.btn{
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #4c4cf6;
}

.jumbotron #title .nav-title p{
    font-size: 20px;
    margin-top: 35px;
}

/* header */






/* main */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    border: 4px solid #000;
}

main .blocco{
    background-color: blue;
}

section .title-section{
    height: 70px;
    background-color: skyblue;
}

section .blocco .content-sx{
    margin-top: 30px;
    height: 500px;
    width: 30%;
    float: left;
    background-color: skyblue;
}

section .blocco .content-top{
    height: 50px;
    border-bottom: 1px solid #000;
}

section .blocco .content-center{
    margin-top: 30px;
    height: 500px;
    width: 30%;
    margin: 30px 5%;
    float: left;
    background-color: skyblue;
}

section .blocco .content-bottom{
    height: 150px;
    background-color: skyblue;
}


/* sezione due */
section .block{
    height: 400px;
    margin-top: 20px;
    background-color:tomato;
}

section .block .image{
    width: 45%;
    height: 400px;
    float: left;
    margin-right: 5%;
    background-color: teal;
    border: 1px solid yellow;
}

section .block .text{
    height: 300px;
    width: 50%;
    float: left;
    border: 1px solid yellow;
    background-color: teal;
}

/* sezione due */


/* sezione tre */
.contenitore:after{
    content: "";
    display: table;
    clear: both;
}

section .block-box{
    margin-top: 20px;
    background-color: blue;
}

.contenitore{
    padding: 20px 0;
}

section .block-box .title{
    height: 70px;
    background-color: yellowgreen;
}

section .block-box .box-lati{
    width: 30%;
    height: 250px;
    background-color: red;
    border: 1px solid blue;
    float: left;
}

section .block-box .box-center{
    height: 250px;
    width: 30%;
    margin: 0 5%;
    float: left;
    border: 1px solid blue;
    background-color: red;
}
/* sezione tre */

/* sezione quattro */

section .block-loghi{
    height: 600px;
    width: 100%;
    background-color: burlywood;
    margin-top: 20px;
}

section .block-loghi-text{
    height: 150px;
    background-color: brown;
}
/* sezione quattro */


/* sezione cinque */
section .block-sottologhi{
    width: 100%;
    background-color:crimson;
    margin-top: 20px;
}

section .sottologhi-text{
    height: 200px;
    margin: 250px 0;
    background-color: cyan;
}

/* sezione cinque */

/* sezione sei */
section .question{
    height: 500px;
    background-color: darkkhaki;
}

section .question-title{
    margin-top: 30px;
    width: 250px;
    height: 100px;
    background-color:fuchsia;
}
/* sezione sei */



/* main */
